@model POSMVC.Models.Entities.Purchase

<div class="col-md-12">
    <form enctype="multipart/form-data" id="frmCreateForm">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label asp-for="ProductId" class="control-label">Choose Product</label>
                    <select asp-for="ProductId" class="selectpicker show-tick show-menu-arrow form-control" data-size="10" title="Select Product" asp-items="ViewBag.Product" data-live-search="true">
                    </select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">

                <div class="form-group">
                    <label>Select Supplier</label>
                    <select asp-for="SupplierId" class="selectpicker show-tick show-menu-arrow form-control" data-size="10" title="Select Supplier" asp-items="ViewBag.Manufacturer" data-live-search="true">
                    </select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label asp-for="PriceRate" class="control-label">Unit Price</label>
                    <input asp-for="PriceRate" class="form-control" />
                    <span asp-validation-for="PriceRate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label">Quantity</label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label asp-for="FinalTotal" class="control-label">Final Total</label>
                    <input asp-for="FinalTotal" class="form-control" />
                    <span asp-validation-for="FinalTotal" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row" id="_contactLense" style="display:none">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label asp-for="Note" class="control-label">Base Curve</label>
                    <textarea asp-for="Note" class="form-control" rows="6"></textarea>

                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group right-align">
                    <br />
                    <br />
                    <hr />
                    <button type="button" class="btn btn-sm btn-outline-success" style="width:150px" onclick='insertRecord("Items", "CreatePurchaseItem", "frmCreateForm")'> <i class="zmdi zmdi-save"></i> Save</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" style="width:150px" onclick='closeModalCreateForm("mdlCreateForm","CreateForm")'><i class="zmdi zmdi-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/js/searchable-dropdown/bootstrap-select.js"></script>
<script type="text/javascript">

    $('#ProductId').selectpicker({
        liveSearch: true,
        maxOptions: 1
    });

    $('#SupplierId').selectpicker({
        liveSearch: true,
        maxOptions: 1
    });

    $('#Quantity').on("change", () => {


        priceRate = $('#PriceRate').val();
        quantity = $('#Quantity').val();
        var totalAmount = priceRate * quantity;
        $('#FinalTotal').val(totalAmount);

    })

</script>
