@model POSMVC.Models.PageModels.UsersVM.CreateUserVM

<div class="col-md-12">
    <form enctype="multipart/form-data" id="frmCreateCustomer">
        <div class="row">
            <div class="col-md-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="PersonalDetail.Name" class="control-label"></label>
                        <input asp-for="PersonalDetail.Name" class="form-control" />
                        <span asp-validation-for="PersonalDetail.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label pr-4">Select Gender : </label>
                    <label class="radio-inline"><input asp-for="PersonalDetail.Gender" type="radio" value="Male"> Male</label>
                    <label class="radio-inline pl-3"><input asp-for="PersonalDetail.Gender" type="radio" value="Female"> Female</label>
                    <label class="radio-inline pl-3"><input asp-for="PersonalDetail.Gender" type="radio" value="Common"> Common</label>
                    <div><span asp-validation-for="PersonalDetail.Gender" class="text-danger"></span></div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="PersonalDetail.MobileNo" class="control-label">Mobile No</label>
                        <input asp-for="PersonalDetail.MobileNo" class="form-control" min="8" maxlength="8" />
                        <span asp-validation-for="PersonalDetail.MobileNo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="PersonalDetail.OtherPhone" class="control-label">Other Contacts</label>
                        <input asp-for="PersonalDetail.OtherPhone" class="form-control" />
                        <span asp-validation-for="PersonalDetail.OtherPhone" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Users.Email" class="control-label">Email</label>
                        <input asp-for="Users.Email" class="form-control" />
                        <span asp-validation-for="Users.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="PersonalDetail.Icno" class="control-label">IC No</label>
                        <input asp-for="PersonalDetail.Icno" class="form-control" />
                        <span asp-validation-for="PersonalDetail.Icno" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalDetail.Dob" class="control-label">Date of Birth</label>
                    <input asp-for="PersonalDetail.Dob" class="form-control" type="text" data-provide="datepicker" data-date-autoclose="true" />
                    <span asp-validation-for="PersonalDetail.Dob" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Users.UserTypeId" class="control-label">Customer Type</label>
                    <select asp-for="Users.UserTypeId" class="form-control" asp-items="ViewBag.UserTypeId">
                        <option disabled selected value="" class="">Select User Type</option>
                    </select>
                    <span asp-validation-for="Users.UserTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalDetail.Address" class="control-label"></label>
                    <textarea asp-for="PersonalDetail.Address" id="presentAddress" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="PersonalDetail.Address" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group right-align">
                    <br />
                    <br />
                    <hr />
                    <button type="button" class="btn btn-sm btn-outline-success" style="width:150px" onclick='insertRecord("Users", "CreateCustomer", "frmCreateCustomer")'> <i class="zmdi zmdi-save"></i> Save</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" style="width:150px" onclick='closeModalCreateForm("mdlCreateForm","CreateForm")'><i class="zmdi zmdi-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="mdlCreateForm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0 font-16" id="myLargeModalLabel"></h5>
                <button type="button" class="close" onclick='closeModalCreateForm("mdlCreateForm","CreateForm")'>
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="CreateForm">
                    <div class="text-center">
                        <img src="~/ProjectImage/loading.gif" alt="Loading ..." />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">

    $('#ProductId').selectpicker({
        liveSearch: true,
        maxOptions: 1
    });

    $('#SupplierId').selectpicker({
        liveSearch: true,
        maxOptions: 1
    });

    $('#Quantity').on("change", () => {


        priceRate = $('#PriceRate').val();
        quantity = $('#Quantity').val();
        var totalAmount = priceRate * quantity;
        $('#FinalTotal').val(totalAmount);

    })

</script>