@model POSMVC.Models.Entities.Products

    <div class="col-md-12">
        <form enctype="multipart/form-data" id="frmUpdateForm">

            <div class="form-row">
                <input asp-for="Id" type="hidden" class="form-control" />
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="ProductTypeId" class="control-label">Product Category</label>
                        <select asp-for="ProductTypeId" id="_ProductTypeId" class="form-control" asp-items="ViewBag.ProductType">
                            <option disabled selected value="" class="">Select Product Category</option>
                        </select>
                        <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">

                    <div class="form-group">
                        <label asp-for="ProductCode" class="control-label">Product Code/ Product Model</label>
                        <input asp-for="ProductCode" class="form-control" />
                        <span asp-validation-for="ProductCode" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="BrandId" class="control-label">Brand</label>
                        <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brand">
                            <option disabled selected value="" class="">Select Brand</option>
                        </select>
                        <span asp-validation-for="BrandId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="ManufacturerId" class="control-label">Supplier</label>
                        <select asp-for="ManufacturerId" class="form-control" asp-items="ViewBag.Manufacturer">
                            <option disabled selected value="" class="">Select Supplier</option>
                        </select>
                        <span asp-validation-for="ManufacturerId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row" id="_type" style="@((Model.ProductTypeId == 1 || Model.ProductTypeId == 2 || Model.ProductTypeId == 3 || Model.ProductTypeId == 4) ? "": "display:none")">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Type" class="control-label">Type</label>
                        <input asp-for="Type" class="form-control" />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            

            <div class="row" id="_contactLense" style="@(Model.ProductTypeId == 2 ? "": "display:none")">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Bc" class="control-label">Base Curve</label>
                        <input asp-for="Bc" class="form-control" />
                        <span asp-validation-for="Bc" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Diameter" class="control-label">Diameter</label>
                        <input asp-for="Diameter" class="form-control" />
                        <span asp-validation-for="Diameter" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row" id="_framOrSunglass" style="@((Model.ProductTypeId == 1 || Model.ProductTypeId == 3) ? "": "display:none")">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="ColorCode" class="control-label">Color Code</label>
                        <input asp-for="ColorCode" class="form-control" />
                        <span asp-validation-for="ColorCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Size" class="control-label">Size</label>
                        <input asp-for="Size" class="form-control" />
                        <span asp-validation-for="Size" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="SellingPrice" class="control-label">Selling Price</label>
                        <input asp-for="SellingPrice" class="form-control" />
                        <span asp-validation-for="SellingPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="CostPrice" class="control-label">Cost Price</label>
                        <input asp-for="CostPrice" class="form-control" />
                        <span asp-validation-for="CostPrice" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group right-align">
                        <br />
                        <br />
                        <hr />
                        <button type="button" class="btn btn-sm btn-outline-success" style="width:150px" onclick='insertRecord("Items", "EditSingleItem", "frmUpdateForm")'> <i class="zmdi zmdi-save"></i> Save</button>
                        <button type="button" class="btn btn-sm btn-outline-danger" style="width:150px" onclick='closeModalCreateForm("mdlUpdateForm", "UpdateForm")'><i class="zmdi zmdi-close"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">

        $('#_ProductTypeId').on('change', () => {
            var id = $('#_ProductTypeId').val();
            switch (+id) {
                case 1:
                    // alert("Frame");
                    clearFields();
                    $('#_type').show();
                    $('#_contactLense').hide();
                    $('#_framOrSunglass').show();
                    break;
                case 2:
                    //alert("Contact Lens");
                    clearFields();
                    $('#_type').show();
                    $('#_framOrSunglass').hide();
                    $('#_contactLense').show();
                    break;
                case 3:
                    //alert("SunGlass");
                    clearFields();
                    $('#_type').show();
                    $('#_contactLense').hide();
                    $('#_framOrSunglass').show();
                    break;
                case 4:
                    //alert("Ophthalmic Lens");
                    clearFields();
                    $('#_type').show();
                    $('#_contactLense').hide();
                    $('#_framOrSunglass').hide();
                    break;
                default:
                    clearFields();
                    $('#_type').hide();
                    $('#_contactLense').hide();
                    $('#_framOrSunglass').hide();
            }

            function clearFields() {

                $('#Bc').val("");
                $('#Diameter').val("");
                $('#ColorCode').val("");
                $('#Size').val("");
                $('#Type').val("");

            }
        });

    </script>