@model POSMVC.Models.PageModels.OrdersVM.CreateSpecOrderVM


@{
    ViewData["Title"] = "CL Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row">

        <div class="col-12">
            <div class="card mb-30">
                <div class="card-body pb-0">

                    <!-- #region NewCustomer and Search Section -->
                    <div class="justify-content-between align-items-center mb-20">
                        <h6 class="card-title mb-0">Spectacle Purchase </h6>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-sm btn-outline-success" onclick='openModalCreateForm("mdlCreateForm","CreateForm","Orders","CreateCustomer")'><i class="zmdi zmdi-collection-plus"></i> New Customer </button>
                            </div>
                            <div class="col-md-6 float-right">
                                <div class="input-group">
                                    <input class="form-control" name="mobile" type="search" placeholder="Search by mobile number" id="searchCustomer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->
                    <!-- #region Customer Section -->
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Customer Details </h6>
                            <hr />
                        </div>
                        <br />
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div>
                                <input type="hidden" class="form-control form-control-customized" asp-for="Users.Id" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div>
                                <label class="control-label" asp-for="PersonalDetail.Name" id="pdName">Name: </label>
                                <input type="hidden" class="form-control form-control-customized" asp-for="PersonalDetail.Name" />
                            </div>
                            <div>
                                <label class="control-label" asp-for="PersonalDetail.Gender" id="pdGender">Gender: </label>
                                <input type="hidden" class="form-control form-control-customized" asp-for="PersonalDetail.Gender" />
                            </div>
                            <div>
                                <label class="control-label" asp-for="PersonalDetail.Address" id="pdAddress">Address: </label>
                                <input type="hidden" class="form-control form-control-customized" asp-for="PersonalDetail.Address" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div>
                                <label class="control-label" asp-for="PersonalDetail.Icno" id="pdIcNo">IC NO:</label>
                                <input type="hidden" class="form-control form-control-customized" asp-for="PersonalDetail.Icno" />
                            </div>
                            <div>
                                <label class="control-label" asp-for="PersonalDetail.MobileNo" id="pdMobileNo">Mobile: </label>
                                <input type="hidden" class="form-control form-control-customized" asp-for="PersonalDetail.MobileNo" />
                            </div>
                            <div>
                                <label class="control-label" asp-for="Users.Email" id="pdEmail">Email:</label>
                                <input type="hidden" class="form-control form-control-customized" asp-for="Users.Email" />
                            </div>
                        </div>
                        <hr />
                    </div>
                    <br />
                    <!-- #endregion -->
                    <!-- #region Prescription Section -->
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Prescription Details </h6>
                        </div>
                        <div class="col-md-6 clearfix">
                            <button type="button" id="btnLastRXClear" onclick="clearPrescription()" class="btn btn-rounded btn-outline-danger py-1 float-md-right" style="display:none"><i class="zmdi zmdi-format-clear"></i> Clear RX </button>
                            <button type="button" id="btnLastRX" class="btn btn-rounded btn-outline-primary py-1 float-md-right"><i class="zmdi zmdi-receipt"></i> Last RX </button>
                        </div>

                    </div>
                    <hr />
                    <div class="row">
                        <input type="hidden" asp-for="SpectacleRx.Id" />
                        <div class="col-sm-12 col-md-6 col-lg-6 rounded" style="border:solid 1px #e3dfdf">
                            <div class="text-center"> <h5 class="pt-3">Right</h5> <hr /> </div>
                            <div style="overflow-x:auto;">
                                <table class="">
                                    <tr>
                                        <th></th>
                                        <th class="text-center">SPH</th>
                                        <th class="text-center">CYL</th>
                                        <th class="text-center">AXIS</th>
                                        <th class="text-center">VA</th>
                                        <th class="text-center">ADD</th>
                                    </tr>
                                    <tr>
                                        <td class="pr-1 pb-1">NP</td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Nprsph" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Nprcyl" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Npraxis" class="form-control form-control-customized" />
                                        </td>

                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Nprva" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Npradd" class="form-control form-control-customized" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pr-1 pb-1">Near</td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.NearRsph" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.NearRcyl" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.NearRaxis" class="form-control form-control-customized" />
                                        </td>

                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.NearRva" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <button type="button" id="btnNRCalculate" class="btn btn-sm btn-fill-default py-1 w-100">Calculate</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pr-1 pb-1">OP</td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Oprsph" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Oprcyl" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Opraxis" class="form-control form-control-customized" />
                                        </td>

                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Oprva" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <br />
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6 rounded" style="border: solid 1px #e3dfdf">
                            <div class="text-center"> <h5 class="pt-3">Left</h5> <hr /> </div>
                            <div style="overflow-x:auto;">
                                <table class="">
                                    <tr>
                                        <th></th>
                                        <th class="text-center">SPH</th>
                                        <th class="text-center">CYL</th>
                                        <th class="text-center">AXIS</th>
                                        <th class="text-center">VA</th>
                                        <th class="text-center">ADD</th>
                                    </tr>
                                    <tr>
                                        <td class="pr-1 pb-1">NP</td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Nplsph" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Nplcyl" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Nplaxis" class="form-control form-control-customized" />
                                        </td>

                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Nplva" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Npladd" class="form-control form-control-customized" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pr-1 pb-1">Near</td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.NearLsph" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.NearLcyl" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.NearLaxis" class="form-control form-control-customized" />
                                        </td>

                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.NearLva" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <button type="button" id="btnNLCalculate" class="btn btn-sm btn-fill-default py-1 w-100">Calculate</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pr-1 pb-1">OP</td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Oplsph" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Oplcyl" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Oplaxis" class="form-control form-control-customized" />
                                        </td>

                                        <td class="pr-1 pb-1">
                                            <input asp-for="SpectacleRx.Oplva" class="form-control form-control-customized" />
                                        </td>
                                        <td class="pr-1 pb-1">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <br />
                        </div>

                    </div>
                    <br />

                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-row">
                                <div class="col-sm-12 col-md-6">
                                    <label class="control-label">Pupil Height</label>
                                    <input asp-for="SpectacleRx.PupilHeight" class="form-control form-control-customized" />
                                </div>
                                <div class="col-sm-12 col-md-6">

                                    <label class="control-label">Frame Size</label>
                                    <input asp-for="SpectacleRx.FrameSize" class="form-control form-control-customized" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-12 col-md-6">
                                    <label class="control-label">A Dimension</label>
                                    <input asp-for="SpectacleRx.Adimension" class="form-control form-control-customized" />
                                </div>
                                <div class="col-sm-12 col-md-6">

                                    <label class="control-label">B Dimension</label>
                                    <input asp-for="SpectacleRx.Bdimension" class="form-control form-control-customized" />
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-sm-12 col-md-6">
                                    <label class="control-label">Right PD</label>
                                    <input asp-for="SpectacleRx.Rpd" class="form-control form-control-customized" />
                                </div>
                                <div class="col-sm-12 col-md-6">

                                    <label class="control-label">Left PD</label>
                                    <input asp-for="SpectacleRx.Lpd" class="form-control form-control-customized" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-12 col-md-12">
                                    <label class="control-label">NEAR/FAR PD</label>
                                    <input asp-for="SpectacleRx.NearFarPd" class="form-control form-control-customized" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-row">
                                <div class="form-group">
                                    <label asp-for="SpectacleRx.Remark" class="control-label"></label>
                                    <textarea asp-for="SpectacleRx.Remark" id="SpectacleRx_Remark" class="form-control form-control-customized" rows="10" cols="85"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br />
                    <!-- #endregion -->
                    <!-- #region  Add to Cart Section-->
                    <div class="row">
                        <div class="col-md-12">
                            <h6> Order Item Details </h6>
                            <hr />
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <label class="control-label">Choose Product</label>
                            <select asp-for="Products.Id" class="selectpicker show-tick show-menu-arrow form-control" data-size="10" title="Select Product" asp-items="ViewBag.Product" data-live-search="true">
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <label class="control-label" for="itemUnitPrice">Unit Price</label>
                            <input class="form-control form-control-customized" id="itemUnitPrice" name="itemUnitPrice" />

                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <label class="control-label ">Quantity</label>
                            <input class="form-control form-control-customized" id="itemQty" name="itemQty" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <label class="control-label">Total</label>
                            <input class="form-control form-control-customized text-right" id="itemTotal" readonly />
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2" style="padding-top:29px">
                            <button type="button" class="btn btn-sm btn-rounded btn-outline-info py-1" id="btnCart"><i class="zmdi zmdi-shopping-cart-plus"></i> Cart</button>
                            <button type="button" class="btn btn-sm btn-rounded btn-outline-danger py-1" id="btnClear"><i class="zmdi zmdi-format-clear"></i>Clear</button>
                        </div>

                    </div>
                    <br />
                    <!-- #endregion -->
                    <!-- #region  Cart List Preview Section-->
                    <div>
                        <div id='rowCartHeader' class="row" style="display:none">
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <label class="control-label"> Cart Items:</label>
                            </div>
                        </div>

                        <div id="cartPreview">

                        </div>

                        <hr />
                        <div id='rowCartTotal' class="row" style="display:none">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label class="control-label"><b>Total Cost</b></label>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <label id="cartTotal" class="control-label pull-right"></label>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                            </div>
                            <br />
                        </div>
                    </div>
                    <br />
                    <br />
                    <!-- #endregion -->


                    <div class="row">
                        <div class="input-group mb-3 col-md-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Order Collection Date</span>
                            </div>
                            <input class="form-control" type="text" data-provide="datepicker" data-date-autoclose="true" asp-for="Order.CollectionDate" value="">
                        </div>
                        <div class="clearfix pb-2 col-md-6">
                            <button type="button" id="btnPlaceOrder" class="btn btn-sm btn-outline-success float-sm-right float-md-right float-lg-right">
                                <i id="icoPlaceOrder" class="zmdi zmdi-check"></i>
                                Place Order & Payment Proceed
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- #region Modal Section for Customer -->
    <div class="modal fade" id="mdlCreateForm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0 font-16" id="myLargeModalLabel">Add New Customer</h5>
                    <button type="button" class="close" onclick='closeModalCreateForm("mdlCreateForm","CreateForm")'>
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="CreateForm">
                        <div class="text-center">
                            <img src="~/ProjectImage/loading.gif" alt="Loading ..." />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

</div>

@section Scripts{
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/searchable-dropdown/bootstrap-select.js"></script>
    <script type="text/javascript">

        //All Global Variables
        var countOrderItem = 0;
        var availableQty = 0;
        var cartList = new Array();
        //~All Global Variables

        //Use For Dropdown Search
        $('.selectpicker').selectpicker({
            liveSearch: true,
            maxOptions: 1
        });

        //Use For Pagination
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });

        //Use For autocomplete search 
        $('#searchCustomer').autocomplete({
            minLength: 2,
            source: '/Orders/CustomerSearch',

            select: function (event, ui) {
                var serverData = getJsonData("Orders", "CustomerSearchResult", ui.item.label, "GET");
                //Set Customer Values From Search

                clearPrescription();
                cartList = new Array();
                toggleCartHeaderFooter(cartList);
                $('#cartPreview').empty();

                $('#Users_Id').val(serverData.users.id);
                $('#pdName').text("Name: " + serverData.personalDetail.name);
                $('#pdGender').text("Gender: " + serverData.personalDetail.gender);
                $('#pdAddress').text("Address: " + serverData.personalDetail.address);
                $('#pdIcNo').text("IC NO: " + serverData.personalDetail.icno);
                $('#pdMobileNo').text("Mobile: " + serverData.personalDetail.mobileNo);
                $('#pdEmail').text("Email: " + serverData.users.email);
            }
        });

        //Use For NR Calculator
        $('#btnNRCalculate').on("click", () => {
            $('#SpectacleRx_NearRsph').val(parseFloat($('#SpectacleRx_Nprsph').val()) + parseFloat($('#SpectacleRx_Npradd').val()));
            $('#SpectacleRx_NearRcyl').val($('#SpectacleRx_Nprcyl').val());
            $('#SpectacleRx_NearRaxis').val($('#SpectacleRx_Npraxis').val());
            $('#SpectacleRx_NearRva').val($('#SpectacleRx_Nprva').val());
        });

        //Use For NL Calculator
        $('#btnNLCalculate').on("click", () => {
            $('#SpectacleRx_NearLsph').val(parseFloat($('#SpectacleRx_Nplsph').val()) + parseFloat($('#SpectacleRx_Npladd').val()));
            $('#SpectacleRx_NearLcyl').val($('#SpectacleRx_Nplcyl').val());
            $('#SpectacleRx_NearLaxis').val($('#SpectacleRx_Nplaxis').val());
            $('#SpectacleRx_NearLva').val($('#SpectacleRx_Nplva').val());
        });

        //$('#btnNLCalculate').on("click", () => {
        //    clearItem();
        //});

        //Use for Get Last RX Value
        $('#btnLastRX').on("click", () => {
            var user = { id: $("#Users_Id").val() };
            if (user.id.length == 0) {
                showMessage("Customer selection is require.", "", "warning");
                return;
            }
            var serverData = getJsonData("Orders", "GetSpecLastRX", user, 'GET');

            if (serverData.length == 0 || serverData == null) {
                showMessage("No previous Spectacle RX found.", "", "info");
                return;
            }
            console.log(serverData);
            $('#btnLastRXClear').show();
            $('#SpectacleRx_Id').val(serverData.id);
            $('#SpectacleRx_Nprsph').val(serverData.nprsph);
            $('#SpectacleRx_Nprcyl').val(serverData.nprcyl);
            $('#SpectacleRx_Npraxis').val(serverData.npraxis);
            $('#SpectacleRx_Nprva').val(serverData.nprva);
            $('#SpectacleRx_Npradd').val(serverData.npradd);
            $('#SpectacleRx_Nplsph').val(serverData.nplsph);
            $('#SpectacleRx_Nplcyl').val(serverData.nplcyl);
            $('#SpectacleRx_Nplaxis').val(serverData.nplaxis);
            $('#SpectacleRx_Nplva').val(serverData.nplva);
            $('#SpectacleRx_Npladd').val(serverData.npladd);
            $('#SpectacleRx_NearRsph').val(serverData.nearRsph);
            $('#SpectacleRx_NearRcyl').val(serverData.nearRcyl);
            $('#SpectacleRx_NearRaxis').val(serverData.nearRaxis);
            $('#SpectacleRx_NearRva').val(serverData.nearRva);
            $('#SpectacleRx_NearRadd').val(serverData.nearRadd);
            $('#SpectacleRx_NearLsph').val(serverData.nearLsph);
            $('#SpectacleRx_NearLcyl').val(serverData.nearLcyl);
            $('#SpectacleRx_NearLaxis').val(serverData.nearLaxis);
            $('#SpectacleRx_NearLva').val(serverData.nearLva);
            $('#SpectacleRx_NearLadd').val(serverData.nearLadd);
            $('#SpectacleRx_Oprsph').val(serverData.oprsph);
            $('#SpectacleRx_Oprcyl').val(serverData.oprcyl);
            $('#SpectacleRx_Opraxis').val(serverData.opraxis);
            $('#SpectacleRx_Oprva').val(serverData.oprva);
            $('#SpectacleRx_Oplsph').val(serverData.oplsph);
            $('#SpectacleRx_Oplcyl').val(serverData.oplcyl);
            $('#SpectacleRx_Oplaxis').val(serverData.oplaxis);
            $('#SpectacleRx_Oplva').val(serverData.oplva);
            $('#SpectacleRx_PupilHeight').val(serverData.pupilHeight);
            $('#SpectacleRx_FrameSize').val(serverData.frameSize);
            $('#SpectacleRx_Adimension').val(serverData.adimension);
            $('#SpectacleRx_Bdimension').val(serverData.bdimension);
            $('#SpectacleRx_Rpd').val(serverData.rpd);
            $('#SpectacleRx_Lpd').val(serverData.lpd);
            $('#SpectacleRx_NearFarPd').val(serverData.nearFarPd);
            $('#SpectacleRx_Remark').val(serverData.remark);
        });

        //Use for Clean Last RX Value
        function clearPrescription() {
            $('#SpectacleRx_Id').val("");
            $('#SpectacleRx_Nprsph').val("");
            $('#SpectacleRx_Nprcyl').val("");
            $('#SpectacleRx_Npraxis').val("");
            $('#SpectacleRx_Nprva').val("");
            $('#SpectacleRx_Npradd').val("");
            $('#SpectacleRx_Nplsph').val("");
            $('#SpectacleRx_Nplcyl').val("");
            $('#SpectacleRx_Nplaxis').val("");
            $('#SpectacleRx_Nplva').val("");
            $('#SpectacleRx_Npladd').val("");
            $('#SpectacleRx_NearRsph').val("");
            $('#SpectacleRx_NearRcyl').val("");
            $('#SpectacleRx_NearRaxis').val("");
            $('#SpectacleRx_NearRva').val("");
            $('#SpectacleRx_NearRadd').val("");
            $('#SpectacleRx_NearLsph').val("");
            $('#SpectacleRx_NearLcyl').val("");
            $('#SpectacleRx_NearLaxis').val("");
            $('#SpectacleRx_NearLva').val("");
            $('#SpectacleRx_NearLadd').val("");
            $('#SpectacleRx_Oprsph').val("");
            $('#SpectacleRx_Oprcyl').val("");
            $('#SpectacleRx_Opraxis').val("");
            $('#SpectacleRx_Oprva').val("");
            $('#SpectacleRx_Oplsph').val("");
            $('#SpectacleRx_Oplcyl').val("");
            $('#SpectacleRx_Oplaxis').val("");
            $('#SpectacleRx_Oplva').val("");
            $('#SpectacleRx_PupilHeight').val("");
            $('#SpectacleRx_FrameSize').val("");
            $('#SpectacleRx_Adimension').val("");
            $('#SpectacleRx_Bdimension').val("");
            $('#SpectacleRx_Rpd').val("");
            $('#SpectacleRx_Lpd').val("");
            $('#SpectacleRx_NearFarPd').val("");
            $('#SpectacleRx_Remark').val("");
            $('#btnLastRXClear').hide();
        }

        //Use For Get ProductData
        $('#Products_Id').on("change", () => {

            $('#itemQty').val("");
            $('#itemTotal').val("");

            var productData = { id: $("#Products_Id").val() };
            var serverData = getJsonData("Orders", "GetProduct", productData, 'GET');
            var unitPrice = serverData.product.sellingPrice;
            availableQty = serverData.stock.availableQuantity;
            $('#itemUnitPrice').val(unitPrice);
        });

        $('#itemQty').on("change", () => {
            var itemQty = $('#itemQty').val();
            if (!!(itemQty % 1)) {
                showMessage("Quantity as fraction is not allowed. ", "", "warning");
                return;
            }
            var itemUnitPrice = $('#itemUnitPrice').val();
            var total = itemQty * itemUnitPrice;
            $('#itemTotal').val(total);
        });

        $('#btnClear').on("click", () => {
            clearItem();
        });

        function clearItem() {
            $('#itemUnitPrice').val("");
            $('#itemQty').val("");
            $('#itemTotal').val("");
            $("#Products_Id").val('default').selectpicker("refresh");
        }

        $('#btnCart').on("click", () => {

            var userId = $('#Users_Id').val();
            if (userId === undefined || userId == 0 || userId == null) {
                showMessage("Customer is not selected. ", "", "warning");
                return;
            }

            var itemData = {
                productId: $("#Products_Id").val(),
                productLabel: $(".filter-option-inner-inner").text(),
                price: $('#itemUnitPrice').val(),
                quantity: parseInt($('#itemQty').val()),
                total: $('#itemTotal').val()
            };

            if (itemData.quantity > availableQty) {
                showMessage("Sorry, selected quantity is out of stock", "", "warning");
                return;
            }

            var actualProductLabel = itemData.productLabel.split("(");
            itemData.productLabel = actualProductLabel[0];
            if (itemData.productId > 0 && itemData.quantity > 0 && itemData.price >= 0) {

                itemData.countNo = countOrderItem;
                cartList.push(itemData);

                var drawItemPreview = `
                                                     <div id='rowNo${itemData.countNo}' class="row">
                                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                                            <label class="control-label">${itemData.productLabel}</label>
                                                            <input type="hidden" name="ListOrderDetails[${itemData.countNo}].ProductId" value="${itemData.productId}" class="form-control form-control-customized" />
                                                        </div>
                                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                                            <label class="control-label">$${itemData.price}</label>
                                                            <input type="hidden" name="ListOrderDetails[${itemData.countNo}].Price" value="${itemData.price}" class="form-control form-control-customized" />
                                                        </div>
                                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                                            <label class="control-label ">${itemData.quantity}</label>
                                                            <input type="hidden" name="ListOrderDetails[${itemData.countNo}].Quantity" value="${itemData.quantity}" class="form-control form-control-customized" />
                                                        </div>
                                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                                            <label class="control-label pull-right">$${itemData.total}</label>
                                                            <input type="hidden" name="ListOrderDetails[${itemData.countNo}].Total" value="${itemData.total}" class="form-control form-control-customized" />
                                                        </div>
                                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                                            <button type="button" class="btn btn-sm btn-rounded btn-outline-danger py-1 px-3" title="Remove" onclick='removeItemFromCartList("rowNo${itemData.countNo}", "${itemData.countNo}")'><i class="zmdi zmdi-close"></i></button>
                                                        </div>
                                                    <br />
                                                    </div>`;
                countOrderItem += 1;
                toggleCartHeaderFooter(cartList);
                var sumOfTotal = cartList.map(o => o.total).reduce((a, c) => { return parseFloat(a) + parseFloat(c) }, 0);
                $('#cartPreview').append(drawItemPreview);
                $('#cartTotal').text("$" + sumOfTotal);
                clearItem();

            } else {
                showMessage("", "All item fields need to properly fill.", "info");
                return;
            }
            console.log("After Inserted...");
            console.log(cartList);
        });

        function toggleCartHeaderFooter(lst) {
            var lstCount = parseInt(lst.length);
            if (lstCount === undefined || lstCount == 0) {
                $('#rowCartHeader').hide();
                $('#rowCartTotal').hide();
            }
            else {
                $('#rowCartHeader').show();
                $('#rowCartTotal').show();
            }
        }

        function removeItemFromCartList(rowNumber, countNumber) {
            $('#' + rowNumber).remove();
            cartList = cartList.filter(f => f.countNo != countNumber);

            var cartListLength = parseInt(cartList.length);
            if (cartListLength === undefined || cartListLength == 0) {

                $('#cartTotal').text("$" + 0.00);
            }
            else {
                var sumOfTotal = cartList.map(o => o.total).reduce((a, c) => { return parseFloat(a) + parseFloat(c); }, 0);
                $('#cartTotal').text("$" + sumOfTotal);
            }
            toggleCartHeaderFooter(cartList);
        }

        $('#btnPlaceOrder').on("click", () => {

            var userId = $('#Users_Id').val();
            if (userId === undefined || userId == 0 || userId == null) {
                showMessage("Customer is not selected. ", "", "warning");
                return;
            }

            modelObject = {
                users: {
                    id: userId
                },
                spectacleRx: {
                    id: $('#SpectacleRx_Id').val(),
                    nprsph: $('#SpectacleRx_Nprsph').val(),
                    nprcyl: $('#SpectacleRx_Nprcyl').val(),
                    npraxis: $('#SpectacleRx_Npraxis').val(),
                    nprva: $('#SpectacleRx_Nprva').val(),
                    npradd: $('#SpectacleRx_Npradd').val(),
                    nplsph: $('#SpectacleRx_Nplsph').val(),
                    nplcyl: $('#SpectacleRx_Nplcyl').val(),
                    nplaxis: $('#SpectacleRx_Nplaxis').val(),
                    nplva: $('#SpectacleRx_Nplva').val(),
                    npladd: $('#SpectacleRx_Npladd').val(),
                    nearRsph: $('#SpectacleRx_NearRsph').val(),
                    nearRcyl: $('#SpectacleRx_NearRcyl').val(),
                    nearRaxis: $('#SpectacleRx_NearRaxis').val(),
                    nearRva: $('#SpectacleRx_NearRva').val(),
                    nearRadd: $('#SpectacleRx_NearRadd').val(),
                    nearLsph: $('#SpectacleRx_NearLsph').val(),
                    nearLcyl: $('#SpectacleRx_NearLcyl').val(),
                    nearLaxis: $('#SpectacleRx_NearLaxis').val(),
                    nearLva: $('#SpectacleRx_NearLva').val(),
                    nearLadd: $('#SpectacleRx_NearLadd').val(),
                    oprsph: $('#SpectacleRx_Oprsph').val(),
                    oprcyl: $('#SpectacleRx_Oprcyl').val(),
                    opraxis: $('#SpectacleRx_Opraxis').val(),
                    oprva: $('#SpectacleRx_Oprva').val(),
                    oplsph: $('#SpectacleRx_Oplsph').val(),
                    oplcyl: $('#SpectacleRx_Oplcyl').val(),
                    oplaxis: $('#SpectacleRx_Oplaxis').val(),
                    oplva: $('#SpectacleRx_Oplva').val(),
                    pupilHeight: $('#SpectacleRx_PupilHeight').val(),
                    frameSize: $('#SpectacleRx_FrameSize').val(),
                    adimension: $('#SpectacleRx_Adimension').val(),
                    bdimension: $('#SpectacleRx_Bdimension').val(),
                    rpd: $('#SpectacleRx_Rpd').val(),
                    lpd: $('#SpectacleRx_Lpd').val(),
                    nearFarPd: $('#SpectacleRx_NearFarPd').val(),
                    remark: $('#SpectacleRx_Remark').val()
                },
                order: {
                    collectionDate: $('#Order_CollectionDate').val()
                },
                listOrderDetails: cartList
            };

            var cartListLength = parseInt(cartList.length);
            if (cartListLength === undefined || cartListLength == 0) {
                showMessage("Atleast one item is require to place order ", "", "warning");
                return;
            }

            if (modelObject.order.collectionDate.length == 0) {
                showMessage("Please select order collection date.","","warning");
                return;
            }

            insertRecordWithoutForm("Orders", "CreateSpecOrder", modelObject, "icoPlaceOrder", "zmdi zmdi-check");
        });

    </script>

}

